<!-- <form novalidate (ngSubmit)="onSubmitForm()" #f="ngForm">
    <fieldset>
      <div class="form-group">
        <label>Name</label>
        <input ngModel name="name" type="text"
               class="form-control">
               <div class="error" *ngIf="f.submitted"><span> name is required</span></div>
      </div>
    </fieldset>
  
    <div class="form-group">
      <label>Email</label>
      <input required ngModel name="email" type="email"
             class="form-control">
             <div class="error" *ngIf="f.submitted "><span> email is required</span></div>

    </div>
  
    <div class="form-group">
      <label>Password</label>
      <input ngModel name="password" type="password"
             class="form-control">
             <div class="error" *ngIf="f.submitted"><span> password is required</span></div>

    </div>
  <button type="submit">Submit</button>
  </form> -->

  <button (click)="onclickButton()">aad product</button>

  <!-- <pre>
    {{f.value | json}}
  </pre> -->