.form {
    max-width: 350px;
    margin: auto;
}
.form-group {
    margin: 10px auto;
}
.actions {
    display: flex;
    justify-content: space-between;
    padding: 10px;

}
.mat-icon {
    float: right; 
}
.inline{
    max-width:400px;
    margin:auto;
}
.input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding: 10px;
    min-width: 40px;
}


