
<head>
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<form [formGroup]="regForm" class="form" (ngSubmit)="onLogin()">
    <h2 class="text-primary">Login</h2>


    <div class="form-group">
		<i class="fa fa-envelope icon"></i>
        <label>Email</label>
        <input type="text" formControlName="email" class="form-control">
        <div class="text-danger"
            *ngIf="regForm.get('email')!.touched && regForm.get('email')!.invalid || regForm.get('email')!.invalid && submitted">
            <div *ngIf="regForm.get('email')!.errors?.['required']">
                Email is required
            </div>
            <div *ngIf="regForm.get('email')!.errors?.['email']">
                Invalid Email
            </div>    
        </div>
    </div>

    <div class="form-group">
		<i class="fa fa-lock icon"></i>

        <label>Password</label>
        <input [type]="hide ? 'password' : 'text'" formControlName="password" class="form-control">
		<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

        <div class="text-danger"
            *ngIf="regForm.get('password')!.touched && regForm.get('password')!.invalid || regForm.get('password')!.invalid && submitted">
            <div *ngIf="regForm.get('password')!.errors?.['required']">
                Password is required
            </div>
			<div *ngIf="regForm.get('password')!.errors?.['minlength']">
                Password is minimum 6 characters
            </div>
        </div>
    </div>

    <div class="actions">
        <button class="btn btn-primary" [disabled]="regForm.invalid" type="submit" (click)="onLogin()">Login</button>
        <button class="btn btn-warning" type="button" (click)="onSignUp()">Sign Up</button>
    </div>
</form>